.about-section{
    width: 100vw;
    

}

.container-about{
    width: 100vw;
  height: 250px;
    margin-top: 5px; 
    }
.title-about{
    font-family: Times New Roman;
    font-weight: bold;
    font-size: 45px;
    line-height: 44px;
    width: 100vw;
    margin-top: 50px; 
    color: #000000;
    padding-left:600px;
}
.para-about{
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
margin: 60px;

padding-top: 10px; 
color: #000000;
}