#contact-section{
    width: 100vw;
    background: #B993D6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.container-contact{
    width: 100vw;
    height: 550px;
   padding-top: 120px;
   /* align-items:flex-end; */
   
  
    
}
.title-contact{
    font-family: Times New Roman;
    font-weight: bold;
    font-size: 75px;
    line-height: 44px;
    color: #000000; 
}
.para-contact{
    width: 100vw;
    font-style: italic;
font-weight: normal;
font-size: 22px;
    line-height: 20px;
    text-align: center;
    padding-top: 15px; 
    color: #000000;
}
.para1-contact{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    font-style: italic;
    margin-left: 18.4%; 
    color: #e93636;
}
.form-container{
    margin-left: 60px;
    margin-top: 10px;
}
.box-contact{
    
width: 456px;
height: 38px;
background: #FFFFFF;
border: 1px solid #CCCCCC;
box-sizing: border-box;

}
.colm-contact{
    padding-left: 30px;
}
.message-box{
    width: 945px;
height: 70px;


background: #FFFFFF;


border: 1px solid #CCCCCC;
box-sizing: border-box;
}
.text-contact{
font-style: italic;
font-weight: normal;
font-size: 14px;
line-height: 28px;
color: #000000;
}
.btn-contact{
    width: 77px;
    height: 38px;
    margin-top: 30px;
    margin-left: 35%;
    background: #3898EC;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    border: none;
    color: #FFFFFF;

}
.hai{
    margin-left: 15%;
}
.message-text{
    margin-left: 15%;
}