.home-welcome {
    width: 68%;
    float: left;
    text-align: center;
    padding: 0 200px;
    position: absolute;
    z-index: 8;
}
.bg-welcome {
    float: left;
    width: 100%;
    height: 250px;
    background: rgba(0, 167, 141,0.7);
    padding: 30px;
    margin-top: -382px;
    margin-left: 40%;
}
   
    

.home-welcome h1 {
    margin: 0 0 10px;
    padding: 0;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 1px 2px rgb(0 0 0 / 40%);
    z-index:7 ;
}
.title-welcome{
     
    visibility: visible; 
    animation-delay: 0.4s; 
    animation-name: flipInX;
}
.caption-welcome{
    visibility: visible;
     animation-delay: 0.6s; 
     animation-name: flipInX;
     font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-shadow: 0 1px 2px rgb(0 0 0 / 40%);
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.btn-image{
   
    width: 236px;
    height: 33px;
   margin-top: 30px;
    
    background: #FFFF00;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 3px;
    padding: 2px;
    border: none;
    color: #000000;
    z-index: 9;

  }
  