
.service-title{
  font-family: Times New Roman;
  font-weight: bold;
  font-size: 45px;
  line-height: 44px;
  width: 100vw;
  margin-top: 150px; 
  color: #000000;
  padding-left: 500px;
  padding-bottom: 89px;  
}
.webdevelop-section{
  margin-left: 24px;
  margin-right: 9px;
}
.webdevelop-image{
  height: 200px;
  width: 300px; 
}
.webdevelop-title{
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 20px;
  padding-left: 20px;
}

.webdevelop-content{
  width: 993px;
  font-size: 23px;
  padding-left: 20px;
}
.webdesign-section{
  padding-top: 20px;
  margin-left: 24px;
  margin-right: 9px;
}
.webdesign-image{
  height: 200px;
  width: 300px;
}
.webdesign-title{
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 20px;
  margin-left: 8px;
  margin-top: -80px;
  text-align: center;
  display: flex;
  padding-top: 102px;
  /* text-align: center; */
}
.webdesign-content{
  width: 980px;
  font-size: 23px;
  margin-left: 11px;
}
.appdevelop-section{
  padding-top: 20px;
  margin-left: 24px;
  margin-right: 9px;
}
.graphicdesign-section{
  padding-top: 20px;
  margin-left: 24px;
  margin-right: 9px;
}
.digitalmarket-sec{
  padding-top: 20px;
  margin-left: 24px;
  margin-right: 9px;
}
.social-section{
  padding-top: 20px;
  margin-left: 24px;
  margin-right: 9px;
}