.service-section{
  margin-top: 5px;
  margin-left: 80px;
}
.service-title{
  font-family:monospace;
  font-weight: bold;
  font-size: 35px;
  line-height: 40px;
  width: 100vw;
  margin-top: 50px; 
  color: #000000;
  padding-left:600px;
   
}
.lab-port{
  font-style: italic;
font-weight: normal;
font-size: 18px;
line-height: 24px;
  color: #000000;
  width: 100vw;
  padding-left: 530px;
  
}
.lab-port2{
  width: 100vw;
  padding-left: 610px;
  padding-bottom: 5px;
}

.webdevelop-section{
  margin-left: 24px;
  margin-right: 24px;
  width: 84.3vw;
  z-index: 1;
  position: relative;
}
.webdevelop-section::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #D5FAFC;
  z-index: -1;
  transition: transform 300ms ease-in-out;
  transform:  scaleX(0);
  transform-origin: left;
}
.webdevelop-section:hover:before,
.webdevelop-section:focus:before{
  transform: scaleX(1);
}
.webdevelop-image{
  height: 200px;
  width: 300px; 
}
.webdevelop-title{
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  padding-left: 20px;
  margin-top: 0px;
  
}
.webdevelop-content{
  width: 993px;
  font-size: 18px;
  padding-left: 20px;
  font-style: normal;
 font-weight: normal;
 line-height: 32px;
}
.webdesign-section{
  margin-left: 24px;
  margin-right: 9px;
  width: 84.3vw;
  z-index: 1;
  position: relative;
}
.webdesign-section::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #D5FAFC;
  z-index: -1;
  transition: transform 300ms ease-in-out;
  transform:  scaleX(0);
  transform-origin: right;
}
.webdesign-section:hover:before,
.webdesign-section:focus:before{
  transform: scaleX(1);
}
.webdesign-image{
  height: 200px;
  width: 300px;
}
.webdesign-title{
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 0px;
  margin-left: 8px;
}
.webdesign-content{
width: 993px;
font-size: 18px;
font-style: normal;
 font-weight: normal;
 line-height: 32px;
 margin-left: 11px;
}
.appdevelop-section{
  margin-left: 24px;
  margin-right: 9px;
  width: 84.3vw;
  z-index: 1;
  position: relative;
}
.appdevelop-section::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #D5FAFC;
  z-index: -1;
  transition: transform 300ms ease-in-out;
  transform:  scaleX(0);
  transform-origin: left;
}
.appdevelop-section:hover:before,
.appdevelop-section:focus:before{
  transform: scaleX(1);
}
.graphicdesign-section{
  margin-left: 24px;
  margin-right: 9px;
  width: 84.3vw;
  z-index: 1;
  position: relative;
}
.graphicdesign-section::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #D5FAFC;
  z-index: -1;
  transition: transform 300ms ease-in-out;
  transform:  scaleX(0);
  transform-origin: right;
}
.graphicdesign-section:hover:before,
.graphicdesign-section:focus:before{
  transform: scaleX(1);
}
.digitalmarket-sec{
  margin-left: 24px;
  margin-right: 9px;
  width: 84.3vw;
  z-index: 1;
  position: relative;
}
.digitalmarket-sec::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #D5FAFC;
  z-index: -1;
  transition: transform 300ms ease-in-out;
  transform:  scaleX(0);
  transform-origin: left;
}
.digitalmarket-sec:hover:before,
.digitalmarket-sec:focus:before{
  transform: scaleX(1);
}
.social-section{
  margin-left: 24px;
  margin-right: 9px;
  width: 84.3vw;
  z-index: 1;
  position: relative;
}
.social-section::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #D5FAFC;
  z-index: -1;
  transition: transform 300ms ease-in-out;
  transform:  scaleX(0);
  transform-origin: right;
}
.social-section:hover:before,
.social-section:focus:before{
  transform: scaleX(1);
}