#portfolio-section{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

    width: 100vw;
    height: 100vh;
}

.title-port{
    font-family: Times New Roman;
    font-weight: bold;
    font-size: 75px;
    line-height: 44px;
    margin-top: 40px; 
    width: 100vw;
    text-align: center;
    color: black;
    
}
.container-port{
    width: 100vw;
    height: 505px;
    margin-top: 40px;
   
}
.lab-port{
    font-style: italic;
font-weight: normal;
font-size: 22px;
line-height: 24px;
    padding-top: 20px;
    text-align: center;
    color: #000000;
    width: 100vw;
   

}
.card-port{
    margin-top: 100px;
    width: 100px;
    height: 267.89px;
    margin-left: 200px;
    
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 278px;
    border-radius: 0px; 
    background:#FFFFFF;
    box-shadow: 0.5px ;
    float: left;
}
.label-port{
    font-style: italic;
font-weight: normal;
font-size: 22px;
line-height: 24px;
    padding-top: 20px;
    margin-left: 500px;
    color: #000000;
    margin-top: 450px;
}
.img-port{
    width: 250px;
    height: 171.73px;
    margin-top:50px;
    border-radius: 0;
    margin-left: 5px;
}