

.title-service{
  
    font-family: Times New Roman;
    font-weight: bold;
    font-size: 75px;
    line-height: 44px;
    width: 100vw;
    margin-top: 40px; 
    color: #000000;  
  }
  .lab-service{
    font-style: italic;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    padding-top: 20px;
    color: #000000;
    width: 100vw;
  }
  .container-card{
    width: 100vw;
    height: 750px;
    margin-top: 10px;
    text-align: center;
  }
  .card{
    
    margin-top: 50px;
    width: 100px;
    height: 267.89px;
    margin-left: 90px;
    
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 278px;
    border-radius: 0px; 
    background:#FFFFFF;
    box-shadow: 0.5px ;
    float: left;
    
  }
  .title-feed{
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 20px;
    margin-left: 30px;
    margin-top: 5px;
    text-align: center;
    display: flex;
    text-align: center;
    color: #000000; 
  }
  .img-feed{ 
    width: 250px;
    height: 171.73px;
    margin-top:15px;
  }
  